<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FAQ</title>
</head>
<body>
<h1 style="color:#b52e31">FAQ</h1>

<h4>1) Application download and installation</br>
 To download the application, open the browser and enter the URL address http://37/139.6.8 /downloads.</br>
 Click on the download button.</br>
<h4>2) Install the application by accepting the permissions and user agreement</h4>
<h4>3) You will be required to register your account details or login in case of reinstallation.</h4>

<h4>4) Account verification</br>
 Upon registration a six digit code will be sent on SMS, enter the code in the form as show below, so as to verify your account.</h4>
<h4>5) To add a task</br>
 Go to main menu, click on to add task icon.</h4>
<h4>6) Request to undertake task</br>
 Select the task you are interested on the home page.</h4>

<h4>7) Hire tasker</br>
 Go to My tasks on main menu, select the task you want to hire help for.</br>
 Click on either direct hire by clicking on taskers to select preferred tasker or requests to hire taskers who have bid on your task.</h4>

<h4>8) To view account details</br>
 Go to main menu, click on my account icon.</h4>
<h4>9) To pay tasker</br>
 Go to main menu, click on invoices, select the invoice for the task you want to confirm task was carried out and pay tasker by clicking on pay tasker.</h4>
</body>
</html>